In [0]:
import numpy as np

In [6]:
import pandas as pd
data = pd.read_csv("person.csv")
data

   person  height  weight  footSize
0    male    6.00     180        12
1    male    5.92     190        11
2    male    5.58     170        12
3    male    5.92     165        10
4  female    5.00     100         6
5  female    5.50     150         8
6  female    5.42     130         7
7  female    5.75     150         9

In [0]:
male_data = data[data.person == "male"]
female_data = data[data.person == "female"]

In [8]:
male_data

  person  height  weight  footSize
0   male    6.00     180        12
1   male    5.92     190        11
2   male    5.58     170        12
3   male    5.92     165        10

In [9]:
female_data

   person  height  weight  footSize
4  female    5.00     100         6
5  female    5.50     150         8
6  female    5.42     130         7
7  female    5.75     150         9

In [0]:
female_data_height = [np.mean(female_data.height),np.var(female_data.height, ddof=1)]
female_data_weight = [np.mean(female_data.weight),np.var(female_data.weight, ddof=1)]
female_data_footSize = [np.mean(female_data.footSize),np.var(female_data.footSize, ddof=1)]


male_data_height = [np.mean(male_data.height),np.var(male_data.height, ddof=1)]
male_data_weight = [np.mean(male_data.weight),np.var(male_data.weight, ddof=1)]
male_data_footSize = [np.mean(male_data.footSize),np.var(male_data.footSize, ddof=1)]

In [0]:
parameters = {"male":{"height":[male_data_height[0],male_data_height[1]], 
                      "weight":[male_data_weight[0],male_data_weight[1]], 
                      "footSize":[male_data_footSize[0], male_data_footSize[1]]}, 
              "female":{"height":[female_data_height[0],female_data_height[1]], 
                        "weight":[female_data_weight[0],female_data_weight[1]], 
                        "footSize":[female_data_footSize[0],female_data_footSize[1]]}}

In [0]:
def calculate_normal_probability(point, mean, variance):
  return 1/np.sqrt(2* np.pi*variance) * np.exp(-1 * (point - mean)**2 / (2*variance))

In [0]:
def posterior_male(height, weight, footSize):
  prob_male = 0.5
  prob_height_given_male = calculate_normal_probability(height, parameters["male"]["height"][0],
                                                        parameters["male"]["height"][1])
  prob_weight_given_male = calculate_normal_probability(weight, parameters["male"]["weight"][0],
                                                        parameters["male"]["height"][1])
  prob_footSize_given_male = calculate_normal_probability(footSize, parameters["male"]["footSize"][0],
                                                        parameters["male"]["height"][1])
  return prob_male * prob_height_given_male * prob_weight_given_male * prob_footSize_given_male

In [0]:
def posterior_female(height, weight, footSize):
  prob_female = 0.5
  prob_height_given_female = calculate_normal_probability(height, parameters["female"]["height"][0],
                                                        parameters["female"]["height"][1])
  prob_weight_given_female = calculate_normal_probability(weight, parameters["female"]["weight"][0],
                                                        parameters["female"]["height"][1])
  prob_footSize_given_female = calculate_normal_probability(footSize, parameters["female"]["footSize"][0],
                                                        parameters["female"]["height"][1])
  return prob_female * prob_height_given_female * prob_weight_given_female * prob_footSize_given_female

In [0]:
new_sample = {"height":5.6, "weight":150, "footSize":8}
new_sample_posterior_male = posterior_male(new_sample["height"],
                                           new_sample["weight"],
                                           new_sample["footSize"])
new_sample_posterior_female = posterior_female(new_sample["height"],
                                           new_sample["weight"],
                                           new_sample["footSize"])

In [16]:
labels = ["male", "female"]
values = [new_sample_posterior_male, new_sample_posterior_female]
print("The new sample has the label: ..", labels[np.argmax(values)])

The new sample has the label: .. male

In [0]:
label_mapper = {"male":0, "female":1}
data["label"] = data.person.map(label_mapper)

In [0]:
X = data[["height", "weight", "footSize"]]
y = data["label"]

In [0]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB

In [20]:
gnb = GaussianNB()
gnb.fit(X,y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [21]:
gnb.predict(X)

array([0, 0, 0, 0, 1, 1, 1, 1])